<p class="text-center text-muted">Need Help? <a href="mailto:contact@freegamesnewsletter.tech">Contact us</a></p>
<p class="text-center text-muted">Made with &hearts; by <a href="https://github.com/vccolombo/">Víctor Colombo</a></p>