<div class="nav">
    <div class="nav-container">
        <div class="logo">
            <a href="/" style="color: inherit; text-decoration: none;">Free Games Newsletter</a>
        </div>
    </div>

</div>