<div class="nav">
    <div class="nav-container">
        <div class="logo">
            <a href="https://www.freegamesnewsletter.tech" style="color: inherit; text-decoration: none;">Free Games Newsletter</a>
        </div>
    </div>

</div>