html{
  height: 100%;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100%;
}

header .logo{
  color: #F45E43;
  font-size: 48px;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
}

main{
  min-height: 500px;
  padding: 50px 0;
}

main .slogan{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #333;
}

main .text-small{
  font-size: 18px;
}

main .text-large{
  font-size: 48px;
}

main .subscription-form{
  width: 100%;
  padding: 0 100px;
  text-align: center;
}

main .email{
  width: 66%;
  height: 50px;
  text-align: center;
  margin-bottom: -1px;
}

main .g-recaptcha {
  display: inline-block;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  font-size: 18px;
  text-align: center;
}
