<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron text-center">
        <h2>CHECK YOUR EMAIL</h2>
        <p>We sent you a confirmation email.</p>
        <p>Check your box and click the link we sent you to confirm your subscription!</p>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>