<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/js/home.js"></script>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div>
        <div style="padding: 0 30px 40px;">
            <div class="slogan text-large">
                Never lose a free game again!
            </div>
            <div class="slogan text-small">
                Subscribe now to receive emails when a game is free for a limited time on Steam
            </div>
        </div>
        <form class="subscription-form" id="subscription-form" action="/subscribe" method="POST">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <div class="form-group">
                <div>
                    <input class="email" type="email" class="form-control" id="email-form" name="email" required
                        placeholder="Enter your email..." autocomplete="off">
                    <div id="email-msg" style="color:red" hidden>
                        Invalid Email!
                    </div>
                </div>
            </div>        
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6Lfbn-oUAAAAAABX1zxefZfgcS8WH5uB_AaBjTF4"></div>
                <div id="captcha-unselected-msg" style="color:red" hidden>
                    Please confirm you are not a robot!
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-lg btn-success">Subscribe</button>
            </div>
            <div class="text-muted" style="padding-bottom: 70px;">
                No spam, easy to unsubscribe
            </div>
            <div class="text-muted" style="padding-bottom: 70px;">
                <p>By subscribing to our newsletter you agree to receive email from us. There will be no more than one email per day.</p>
                <p>We will not communicate / spread / publish or otherwise give away your address.</p>
            </div>
        </form>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>