<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron text-center">
        <form action="/subscribe" method="POST">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <div class="g-recaptcha" data-sitekey="6Lfbn-oUAAAAAABX1zxefZfgcS8WH5uB_AaBjTF4"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-success" style="margin-left:38px">Subscribe</button>
                </div>
            </div>
        </form> 
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>