<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron text-center">
        <h2>SOMETHING WENT WRONG</h2>
        <p>I may have coded something wrong here and you are NOT subscribed yet!</p>
        <p>Please send an email to <b>contact@freegamesnewsletter.tech</b> if you need any help</p>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
