<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h2>You are no longer subscribed to Free Games Newsletter</h2>
    <p>I am sorry to see you go. You can always come back later!</p>
</div>
