<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron text-center">
        <h2>SOMETHING WENT WRONG</h2>
        <p>I may have coded something wrong here and you are NOT unsubscribed yet!</p>
        <p>Please send an email to <b>newsletter@freegamesnewsletter.com</b> and I will unsubscribe you as soon as possible</p>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
