<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h2>SOMETHING WENT WRONG</h2>
    <p>I may have coded something wrong here and you are NOT unsubscribed yet!</p>
    <p>Please send an email to <b>freegamesnewsletter@gmail.com</b> and I will unsubscribe you as soon as possible</p>
</div>
